<!-- <h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p> -->
<h1>About Bloccit</h1>
<p>Created by: Me</p>
<%= link_to "Follow me", "https://twitter.com/amermall", class: "social-btn" %>
<p>Here is the button created for assignment_27_html_css.</p>
<div></div>
<%= link_to "Follow me", "https://twitter.com/amermall", type: "submit", class: "btn btn-info" %>
<p>Noticed something when reading docs for bootstrap, they have a button class. Let's see what that looks like...</p>
