// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// h1 {
//   color: red;
// }
//
// #index-title {
//   text-align: center;
//   font-size: 15px;
//   color: blue;
// }
//
// .posts {
//   border: 1px dotted;
//   margin: 5px;
//   padding: 5px;
//   height: 200px;
// }
//
// section {
//   background: #5998ff;
//   border-style: solid;
//   border-width: 1px;
//   margin: 5px 5px 5px 5px;
//   padding: 5px 5px 5px 5px;
// }
// The above css code was for bloc checkpoint 27 to help with html and css.
.social-btn {
  text-align: center;
  width: 200px;
  border: 1px solid #99c;
  margin: 5px 5px 5px 0px;
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
  font-style: oblique;
  font-family: Courier, "Lucida Console", monospace;
}
